<appSettings>
  <add key="ida:AppID" value="{}" />
  <add key="ida:AppSecret" value="{}" />
  <add key="ida:RedirectUri" value="https://localhost:44350/" />
  <add key="ida:AppScopes" value="User.Read Calendars.Read Files.ReadWrite.All Sites.ReadWrite.All" />
  <add key="ida:TenantId" value="{}" />

</appSettings>
